In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',None)

In [7]:
data=pd.read_excel(r'C:\Users\Lenovo\Documents\Data science\breast-cancer_wisconsin.xlsx',header=None,index_col=0,)
data

         1   2   3   4   5   6   7   8   9   10
0
1000025   5   1   1   1   2   1   3   1   1   2
1002945   5   4   4   5   7  10   3   2   1   2
1015425   3   1   1   1   2   2   3   1   1   2
1016277   6   8   8   1   3   4   3   7   1   2
1017023   4   1   1   3   2   1   3   1   1   2
...      ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
776715    3   1   1   1   3   2   1   1   1   2
841769    2   1   1   1   2   1   1   1   1   2
888820    5  10  10   3   7   3   8  10   2   4
897471    4   8   6   4   3   4  10   6   1   4
897471    4   8   8   5   4   5  10   4   1   4

[699 rows x 10 columns]

In [8]:
data.shape
data.head()

         1   2   3   4   5   6   7   8   9   10
0
1000025   5   1   1   1   2   1   3   1   1   2
1002945   5   4   4   5   7  10   3   2   1   2
1015425   3   1   1   1   2   2   3   1   1   2
1016277   6   8   8   1   3   4   3   7   1   2
1017023   4   1   1   3   2   1   3   1   1   2

In [9]:
data.columns=['Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion',' Single Epithelial Cell Size',
              'Bare Nuclei','Bland Chromatin','Normal Nucleoli',' Mitoses','Class']

In [10]:
data.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,,,,,,,,,,
1000025,5,1,1,1,2,1,3,1,1,2
1002945,5,4,4,5,7,10,3,2,1,2
1015425,3,1,1,1,2,2,3,1,1,2
1016277,6,8,8,1,3,4,3,7,1,2
1017023,4,1,1,3,2,1,3,1,1,2

In [11]:
df=pd.DataFrame.copy(data)

In [13]:
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,,,,,,,,,,
1000025,5,1,1,1,2,1,3,1,1,2
1002945,5,4,4,5,7,10,3,2,1,2
1015425,3,1,1,1,2,2,3,1,1,2
1016277,6,8,8,1,3,4,3,7,1,2
1017023,4,1,1,3,2,1,3,1,1,2

# Handling Missing values

In [14]:
df.isnull().sum()

Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
 Single Epithelial Cell Size    0
Bare Nuclei                     0
Bland Chromatin                 0
Normal Nucleoli                 0
 Mitoses                        0
Class                           0
dtype: int64

In [15]:
for i in df.columns:
    print({i:df[i].unique()})

{'Clump Thickness': array([ 5,  3,  6,  4,  8,  1,  2,  7, 10,  9], dtype=int64)}
{'Uniformity of Cell Size': array([ 1,  4,  8, 10,  2,  3,  7,  5,  6,  9], dtype=int64)}
{'Uniformity of Cell Shape': array([ 1,  4,  8, 10,  2,  3,  5,  6,  7,  9], dtype=int64)}
{'Marginal Adhesion': array([ 1,  5,  3,  8, 10,  4,  6,  2,  9,  7], dtype=int64)}
{' Single Epithelial Cell Size': array([ 2,  7,  3,  1,  6,  4,  5,  8, 10,  9], dtype=int64)}
{'Bare Nuclei': array([1, 10, 2, 4, 3, 9, 7, '?', 5, 8, 6], dtype=object)}
{'Bland Chromatin': array([ 3,  9,  1,  2,  4,  5,  7,  8,  6, 10], dtype=int64)}
{'Normal Nucleoli': array([ 1,  2,  7,  4,  5,  3, 10,  6,  9,  8], dtype=int64)}
{' Mitoses': array([ 1,  5,  4,  2,  3,  7, 10,  8,  6], dtype=int64)}
{'Class': array([2, 4], dtype=int64)}

In [16]:
 df=df.replace ('?',np.nan)

In [17]:
 df.isnull().sum()

Clump Thickness                  0
Uniformity of Cell Size          0
Uniformity of Cell Shape         0
Marginal Adhesion                0
 Single Epithelial Cell Size     0
Bare Nuclei                     16
Bland Chromatin                  0
Normal Nucleoli                  0
 Mitoses                         0
Class                            0
dtype: int64

In [18]:
df.dtypes

Clump Thickness                   int64
Uniformity of Cell Size           int64
Uniformity of Cell Shape          int64
Marginal Adhesion                 int64
 Single Epithelial Cell Size      int64
Bare Nuclei                     float64
Bland Chromatin                   int64
Normal Nucleoli                   int64
 Mitoses                          int64
Class                             int64
dtype: object

In [19]:
df['Bare Nuclei'].fillna(df['Bare Nuclei'].mode()[0],inplace=True)

In [20]:
df.isnull().sum()

Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
 Single Epithelial Cell Size    0
Bare Nuclei                     0
Bland Chromatin                 0
Normal Nucleoli                 0
 Mitoses                        0
Class                           0
dtype: int64

In [21]:
df.shape

(699, 10)

In [22]:
df['Bare Nuclei']=df['Bare Nuclei'].astype(int)

# Converting  class variable  -

In [23]:
df['Class']=df['Class'].map({2:0,4:1})

In [24]:
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,,,,,,,,,,
1000025,5,1,1,1,2,1,3,1,1,0
1002945,5,4,4,5,7,10,3,2,1,0
1015425,3,1,1,1,2,2,3,1,1,0
1016277,6,8,8,1,3,4,3,7,1,0
1017023,4,1,1,3,2,1,3,1,1,0

In [25]:
df.dtypes

Clump Thickness                 int64
Uniformity of Cell Size         int64
Uniformity of Cell Shape        int64
Marginal Adhesion               int64
 Single Epithelial Cell Size    int64
Bare Nuclei                     int32
Bland Chromatin                 int64
Normal Nucleoli                 int64
 Mitoses                        int64
Class                           int64
dtype: object

In [26]:
#X and Y variable
X=df.values[:,0:-1]
Y=df.values[:,-1]
Y=Y.astype(int)

In [28]:
print(X.shape)
print(Y.shape)

(699, 9)
(699,)

In [ ]:
# As all variables  in X  are  of the same  units  and range  , no need to scale.

# splitting  training and testing data

In [ ]:
#AS no Testing  data  is given and  the  observations  are  lesser than  1000 , we are  using  80% for  training  and 20 % for testing.

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.2,random_state=10)

In [30]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)

(559, 9)
(559,)
(140, 9)

In [31]:
#Building the  model , training and  predicting  
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=int(np.sqrt(len(X_train))),metric='euclidean')
KNN.fit(X_train,Y_train)
Y_pred=KNN.predict(X_test)

In [32]:
print(list(zip(Y_test,Y_pred)))

[(1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (1, 1), (1, 0), (1, 1), (1, 1), (0, 0), (0, 0), (1, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (1, 0), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0)]

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

cfm=confusion_matrix(Y_test,Y_pred) # Y_test= Y_actuals and Y_pred = the  predicted Y
print(cfm)

print("Classification report: ")

print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test, Y_pred)
print("Accuracy of the model: ",acc)

[[95  3]
 [ 3 39]]
Classification report:
              precision    recall  f1-score   support

           0       0.97      0.97      0.97        98
           1       0.93      0.93      0.93        42

    accuracy                           0.96       140
   macro avg       0.95      0.95      0.95       140
weighted avg       0.96      0.96      0.96       140

Accuracy of the model:  0.9571428571428572

In [ ]:
#Inorder  to  avoid the  Type 2 error - changing the  hyperparameters of  KNN

In [34]:
from sklearn.metrics import accuracy_score
my_dict={}
for K in range(1,28):
    model_KNN = KNeighborsClassifier(n_neighbors=K,metric="euclidean")
    model_KNN.fit(X_train, Y_train)
    Y_pred = model_KNN.predict(X_test)
    print ("Accuracy is ", accuracy_score(Y_test,Y_pred), "for K-Value:",K)
    my_dict[K]=accuracy_score(Y_test,Y_pred)

Accuracy is  0.9714285714285714 for K-Value: 1
Accuracy is  0.9714285714285714 for K-Value: 2
Accuracy is  0.9785714285714285 for K-Value: 3
Accuracy is  0.9714285714285714 for K-Value: 4
Accuracy is  0.9785714285714285 for K-Value: 5
Accuracy is  0.9714285714285714 for K-Value: 6
Accuracy is  0.9714285714285714 for K-Value: 7
Accuracy is  0.9642857142857143 for K-Value: 8
Accuracy is  0.9642857142857143 for K-Value: 9
Accuracy is  0.9642857142857143 for K-Value: 10
Accuracy is  0.9642857142857143 for K-Value: 11
Accuracy is  0.9642857142857143 for K-Value: 12
Accuracy is  0.9642857142857143 for K-Value: 13
Accuracy is  0.9571428571428572 for K-Value: 14
Accuracy is  0.9571428571428572 for K-Value: 15
Accuracy is  0.9571428571428572 for K-Value: 16
Accuracy is  0.9642857142857143 for K-Value: 17
Accuracy is  0.9571428571428572 for K-Value: 18
Accuracy is  0.9571428571428572 for K-Value: 19
Accuracy is  0.9571428571428572 for K-Value: 20
Accuracy is  0.9571428571428572 for K-Value: 21
Accuracy is  0.9571428571428572 for K-Value: 22
Accuracy is  0.9571428571428572 for K-Value: 23
Accuracy is  0.9571428571428572 for K-Value: 24
Accuracy is  0.9571428571428572 for K-Value: 25
Accuracy is  0.9571428571428572 for K-Value: 26
Accuracy is  0.9571428571428572 for K-Value: 27

In [36]:
print(my_dict)

{1: 0.9714285714285714, 2: 0.9714285714285714, 3: 0.9785714285714285, 4: 0.9714285714285714, 5: 0.9785714285714285, 6: 0.9714285714285714, 7: 0.9714285714285714, 8: 0.9642857142857143, 9: 0.9642857142857143, 10: 0.9642857142857143, 11: 0.9642857142857143, 12: 0.9642857142857143, 13: 0.9642857142857143, 14: 0.9571428571428572, 15: 0.9571428571428572, 16: 0.9571428571428572, 17: 0.9642857142857143, 18: 0.9571428571428572, 19: 0.9571428571428572, 20: 0.9571428571428572, 21: 0.9571428571428572, 22: 0.9571428571428572, 23: 0.9571428571428572, 24: 0.9571428571428572, 25: 0.9571428571428572, 26: 0.9571428571428572, 27: 0.9571428571428572}

In [37]:
for K in my_dict:
    if my_dict[K]==max(my_dict.values()):
        print('K is',K,my_dict[K])

K is 3 0.9785714285714285
K is 5 0.9785714285714285

In [ ]:
#MAXIMUM ACCURACY SCORE 
 # K is 3 0.9785714285714285
#K is 5 0.9785714285714285

In [38]:
 #with K=3    
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=3,metric='euclidean')
KNN.fit(X_train,Y_train)
Y_pred=KNN.predict(X_test)

In [39]:
print(list(zip(Y_test,Y_pred)))

[(1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (1, 1), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0)]

In [40]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

cfm=confusion_matrix(Y_test,Y_pred) # Y_test= Y_actuals and Y_pred = the  predicted Y
print(cfm)

print("Classification report: ")

print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test, Y_pred)
print("Accuracy of the model: ",acc)

[[95  3]
 [ 0 42]]
Classification report:
              precision    recall  f1-score   support

           0       1.00      0.97      0.98        98
           1       0.93      1.00      0.97        42

    accuracy                           0.98       140
   macro avg       0.97      0.98      0.97       140
weighted avg       0.98      0.98      0.98       140

Accuracy of the model:  0.9785714285714285

In [ ]:
# with  Nearest  neighbors  as 3 , we  are  able to increase the accuracy  to  
#ACCURACY_SCORE = 0.9785
# 0 TYPE 2 ERROR  . THAT  MEANS  NO MISCLASSIFICATION  OF  NOT  DETECTING   CANCER
#rECALL VALUE  OF  1.0  FOR CLASS1  AND  0.97  FOR CLASS 0 . 
#F1 SCORE  CLASS 0 -0.98,CLASS 1 -0.97

In [41]:
#with K=5   
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=5,metric='euclidean')
KNN.fit(X_train,Y_train)
Y_pred=KNN.predict(X_test)

In [42]:
print(list(zip(Y_test,Y_pred)))

[(1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (1, 1), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 1), (0, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (1, 1), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (1, 1), (1, 1), (1, 1), (0, 0), (0, 0), (0, 0), (1, 1), (0, 0), (1, 1), (0, 0), (0, 0), (0, 0)]

In [43]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

cfm=confusion_matrix(Y_test,Y_pred) # Y_test= Y_actuals and Y_pred = the  predicted Y
print(cfm)

print("Classification report: ")

print(classification_report(Y_test,Y_pred))

acc=accuracy_score(Y_test, Y_pred)
print("Accuracy of the model: ",acc)

[[95  3]
 [ 0 42]]
Classification report:
              precision    recall  f1-score   support

           0       1.00      0.97      0.98        98
           1       0.93      1.00      0.97        42

    accuracy                           0.98       140
   macro avg       0.97      0.98      0.97       140
weighted avg       0.98      0.98      0.98       140

Accuracy of the model:  0.9785714285714285

In [ ]:
# with  Nearest  neighbors  as 5 , we  are  able to increase the accuracy  to  
#ACCURACY_SCORE = 0.9785
# 0 TYPE 2 ERROR  . THAT  MEANS  NO MISCLASSIFICATION  OF  NOT  DETECTING   CANCER
#rECALL VALUE  OF  1.0  FOR CLASS1  AND  0.97  FOR CLASS 0 . 
#F1 SCORE  CLASS 0 -0.98,CLASS 1 -0.97

# SINCE  FOR BOTH VALUES OF K , we  get the same  report, we  use  K=5 AS  MORE  NO. OF NEIGHBORS  , HIGHER WOULD  
#BE THE ACCURACY  ALWAYS


# What we tell the  customer is that  the  accuracy is  97.8% . that  means  for every 100 data , 97  out  of them  would  be  correctly  classified  and 3  may get  misclassified.